@import 'aos/dist/aos.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Inter;
    src: url("../../fonts/Inter/Inter_18pt-Regular.ttf"), format(truetype);;
}

* {
    font-family: Inter, sans-serif;
}
.btn_gradient {
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(270.05deg, #404B7C 34.74%, #5BA1D1 99.95%);
    transition: color 1.2s ease; /* For smooth color transition */
}

.btn_gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(270.05deg, #5BA1D1 34.74%, #404B7C 99.95%);
    transition: opacity 1.2s ease;
    opacity: 0;
    z-index: 0;
}

.btn_gradient:hover::after {
    opacity: 1;
}

.btn_gradient span {
    position: relative;
    z-index: 1;
}

.text_main {
    color: #404B7C;
}

.bg_main {
    background: #404B7C;
}

.contact::placeholder {
    color: #404B7C;
}

.flag-dropdown  {
    background: transparent !important;
    border: none !important;
}